.form-action-table {display: inline;}

button.no-style-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
button.danger{color: #9d1818;}
.invisible-btn{
	visibility: hidden !important;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}
.dz-image img{
	width: 120px;
    height: 120px;
    object-fit: cover;
}