.form-action-table {display: inline;}

button.no-style-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
button.danger{color: #9d1818;}
.invisible-btn{
	visibility: hidden !important;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}
.dz-image img{
	width: 120px;
    height: 120px;
    object-fit: cover;
}
.table-detail-klaim {
    background: #f2f4f84a;
}
.plus-detail {
    margin-bottom: 0px !important;
    padding-right: 12px;
    padding-left: 12px;
}
.form-tambah-data-barang {margin-bottom: 10px;}
.table-detail-barang .row-actions {width: 100px;}
.plain-input {border: none; width: auto;background: transparent;}
.total-barang {font-size: 20px;font-weight: bold;}
.text-right .plain-input {text-align: right;}
.text-center .plain-input {text-align: center;}
.table-detail-barang thead tr th:nth-child(1) {width:35%}
.table-detail-barang thead tr th:nth-child(2) {width:20%}
.table-detail-barang thead tr th:nth-child(3) {width:15%}
.table-detail-barang thead tr th:nth-child(4) {width:20%}
.table-detail-barang thead tr th:nth-child(5) {width:10%}
.row-actions button {border: none; padding: 0; margin: 0 5px;}
.form-report {margin-bottom: 40px;}
.form-report .form-group{margin-right: 20px;}
.form-inline-pcd .form-group { margin-right: 20px;}
.inv-baru{width: 100%;}
